<mat-card dir="rtl" class="login-card" (keyup.enter)="login(userInput.value, passwordInput.value)">
  <mat-card-header>
    <mat-card-title>התחברות</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <div *ngIf="hasError">User or password incorrect!</div>
  <mat-form-field style="background-color: transparent !important;">
    <input #userInput type="text" matInput placeholder="שם משתמש">
  </mat-form-field>

  <mat-form-field style="background-color: transparent !important;">
    <input #passwordInput type="password" matInput placeholder="סיסמא">
  </mat-form-field>

  <button mat-raised-button (click)="login(userInput.value, passwordInput.value)" mat-button>התחבר</button>


  </mat-card-content>
  <mat-card-footer style="direction: ltr">
    <button style="margin: 5px" color="primary" (click)="openRegisterDialog()" mat-raised-button>הרשם</button>
  </mat-card-footer>
</mat-card>
