

<mat-tab-group [dynamicHeight]="true" dir="rtl" style="height: 100%">
  <mat-tab label="שאלות">
      <div *ngFor="let question of questions" style="width: 60%; margin: auto; margin-top: 20px">
        <mat-toolbar dir="rtl" style="margin-bottom: 20px" color="link">
          <span>{{question.author.username}}</span>
        </mat-toolbar>
        <quill-editor [readOnly]="true" [modules]="{toolbar: []}" [ngModel]="question.question" ></quill-editor>
        <div class="grow" [hidden]="!question.answering">
        <br>
        <quill-editor [style]="{'height': '200px'}" [(ngModel)]="question.answer" ></quill-editor>
        </div>
        <button (click)="question.answer = ''; question.answering = !!!question.answering" color="warn" style="float: left; margin: 10px 0" mat-raised-button>{{question.answering ? 'הגב' : 'הוסף תגובה'}}</button>
      </div>
  </mat-tab>
  <mat-tab label="הוסף שאלה">
      <div dir="ltr" style="width: 60%; margin: auto; margin-top: 20px">
        <quill-editor (onEditorCreated)="editor($event)" [style]="{'height': '400px'}" [(ngModel)]="body"></quill-editor>
        <button style="float: right; margin-top: 10px" mat-raised-button [disabled]="!body" (click)="submitQuestion()">שאל נא בני</button>
      </div>
  </mat-tab>
</mat-tab-group>




